
.DS_Store
*.swp
*.tmp
*.code-workspace

# Rust build output for the sketchybar aerospace plugin
target/

.env
*.pem
id_rsa*
.netrc

ambxst/.config/ambxst/config/ai.json
ambxst/.config/ambxst/**/keys.json
ambxst/.config/ambxst/**/secrets.json

# nvim dynamic files
common/nvim/.config/nvim/lazy-lock.json

# herdr states and logs
common/herdr/.config/herdr/*.log
common/herdr/.config/herdr/session.json
